@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pageWrapper {
    align-items: center;
    padding: 3rem;
    text-align: center;
    animation: 0.5s slideFromTop
}

.title {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
}

.description {
    font-size: 1.2rem;
    padding: 1rem;
    width: 80%;
    text-align: left;
    justify-self: center;
}

.description p {
    opacity: 0.7;
    line-height: 1.4;
}

.description a {
    color: #e21679;
}

.description a:hover {
    text-decoration: underline;
}

.section {
    text-align: left;
    padding: 1rem;
    width: 80%;
    justify-self: center;
}

.section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.2rem;
    opacity: 0.7;
    line-height: 1.4;
}

.section p a {
    color: #e21679;
}

.section p a:hover {
    text-decoration: underline;
}

.section ol {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
}

.section ul {
    margin-left: 1.2rem;
    margin-top: 1.2rem;
}

.section li {
    font-size: 1.2rem;
    opacity: 0.7;
    line-height: 1.4;
}